body{
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
}
/*gerer l'entete*/
.entete{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 600%;
    height: 5rem;
    margin: 0;
    padding: 30px;
    gap: 8%;
}
/*travailler sur l'ensemble des bouttons*/
a{
    gap: 30px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20%;
    color: black;

    transition: transform 1s, background 0.4s, box-shadow 2s;

}
a:hover{
    box-shadow: 2px 2px 2px yellow;
    background: yellow;
    transform: translate(2px);
}
.corps{
 background-color: rgb(242, 247, 247);
    display: flex;
    flex-direction: row;
    width: 90em;
    height: 20rem;
    margin: 0;
    padding: 30px;
    gap: 40px;
}
/*miniformulaire*/
table{
background:linear-gradient(to left,white,yellow);
height: 275px;

}
/*boutton du formulaire*/
input{
    height: 30px;
}
img{
    height: 20rem;
    width: 20rem;
}
/*------------------disposition des cartes dans la page d'accueil--------------------*/
.info{
    margin: 10px;
    padding: 20px;
    content:'';
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}
/*gestion des cartes*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: rgb(248, 251, 253);
    border: 2px;
    border-radius: 10px;
        box-shadow: 2px 2px 2px rgb(78, 74, 74);
    transform: translatex(opx);
    transition: 1s ease, box-shadow 1s, transform 1s;
    opacity: 0;
}
.card:hover{
    box-shadow: 3px 3px 3px black;
    transform:scalez(5px);

}
/*gestion des photos a l'interieur des cartes*/
.photo img{
    height: 300px;
    width: 300px;
}
/*animation des scroll des different cartes*/
/*pour le premier et le dernier*/
.animateUp{

    transform: translatex(50px);
    opacity: 3;
}

.animateUp1{

    transform: translatex(-50px);
    opacity: 3;
}
/*Animation sur le deuxieme carte */
.card .box2{
    transition: 1s ease;
    transform: translateY(0px);
    opacity: 0;
}
.animateDown{
    transform: translatey(20px);
    opacity:3;
}